# Logs
logs
*.log
npm-.log*
yarn-.log*
yarn-error.log*
pnpm-.log*
lerna-.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
